#box{
    border:3px solid black;
    background-color: aquamarine;
}
body{
    background-color: burlywood;
}
/*
#new{
    border: 2px solid black;
    background-color: coral;
    width: 75%;
    height: 100%;
}